<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="subtitle">
      <p>Divam Tech</p>
      <p>
        Don't know where to start? Read the <a href="https://adonisjs.com/docs">documentation</a>.
        This is something for demo purpose.
      </p>
      <p>
       <a href="/users">Open Users</a>.
      </p>

    </div>
  </section>
</body>
</html>
