

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  This user has id {{user.id}} and username is {{user.username}} and email is {{user.email}} 

<a href="/users/{{user.id}}/delete">Delete</a>
</body>
</html>